@use '../../styles/globals.scss' as *;


.toastContainer {
  position: fixed;
  bottom: 60px;
  right: 48px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
}

.toast {
  background-color: white;
  border: 1px solid var(--light-border-color);
  font-size: var(--font-regular);
  line-height: 20px;
  color: var(--third-text-color);
  padding: 16px;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-out;
  pointer-events: all;
  max-width: 534px;
  word-wrap: break-word;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px
}

.text {
  margin: 0;
}

.slideIn {
  transform: translateX(0);
  opacity: 1;
}

.slideOut {
  transform: translateX(100%);
  opacity: 0;
}

.icon {
  cursor: pointer;
}