.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2rem;
    font-size: var(--font-regular);
    color: var(--third-text-color);
    font-weight: 400;

    h3 {
        font-size: var(--font-header);
        font-weight: 600;
    }
}