.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 3rem;
    gap:1.5rem;
    
    .top{
        display: flex;
        justify-content: space-between;
    }

    .text{
        font-size: 16px;
        font-weight: 400;
        line-height: 38px;
        color: #344054;
    }
}
