.dateSelect{
    border-radius: var(--radius-xs, 8px) !important;
    border: 1px solid var(--Component-colors-Utility-Brand-utility-brand-200, #E9D7FE)!important;
    background: var(--Component-colors-Utility-Brand-utility-brand-50, #F9F5FF)!important;
    background-color: #F9F5FF!important;
    color: #6941C6!important;
}