@import url(../../styles/variables.css);

.container{
  display: flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
  flex-grow: 1;
}

.loading-container {
  display: flex;
  flex-grow: 1;
}

.background-pattern {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-repeat: no-repeat;
  background-image: url('../../assets/auth-screen-background.svg');
  background-position: center -350px;
}

.loading {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: var(--main-purple);
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}