@use '../../styles/globals.scss' as *;

.container{
    border: 1px solid var(--light-border-color) ;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 2px 0px #1018280D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  .iconAndText{
    display: flex;
    flex-direction: row;

    .icon{
        font-size: 24px;
        border: 1px solid var(--light-border-color) ;
        border-radius: 8px;
        padding: 10px;
        margin-right: 1rem;
    }
  }

  .textContainer{
    display: flex;
    flex-direction: column;

    h2{
      @include text-style(regular, semibold);
      margin: 0;
      margin-top: 3px;
    }
  
    h3{
      @include text-style(regular);
      color : var(--third-text-color);
      line-height: 20px;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
      }
    
      .acceptButton,
      .dismiss{
        border-radius: 8px;
        border: none;
        background-color: transparent;
        @include text-style(regular, semibold);
        margin: 0;
        padding: 0;
      }
    
      .acceptButton{
        color: var(--main-purple);
      }
    
      .dismiss{
        margin-right: 15px;
        color: var(--third-text-color);
      }
  }
}