.preview-container {
  width: 70%;
  height: 60%;
  border: 1px solid var(--light-border-color);
  margin-top: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.preview-content {
  color: var(--second-text-color);
  font-size: 13px;
  padding: 0 2rem;
}

.preview-content p {
  margin: 0.1rem 0;
  line-height: 24px;
}

.preview-container h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  padding: 0 2rem;
}

.preview-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  padding: 0 2rem;
}

.preview-button-container button {
  margin: 0;
}