.textField .MuiSvgIcon-colorError {
  color: var(--border-error-solid);
}

.textField svg {
  color: var(--light-border-color);
}

.textField .MuiDivider-root {
  margin: 0 10px;
}

.textField .MuiOutlinedInput-root {
  font-size: 13px;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.textField .MuiOutlinedInput-root {
  &:hover fieldset {
    border-color: var(--main-purple);
  }
  &.Mui-focused fieldset {
    border-color: var(--main-purple);
  }

}

.textField .MuiButton-root {
  font-size: 13px;
  color: var(--second-text-color);
}

.MuiBox-root .MuiInputLabel-root {
  font-size: 13px;
  color: var(--second-text-color);
}
