
.form {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    flex-grow: 1;

}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.alert {
    display: flex;
    justify-content: flex-end;
}

.alertMessage {
    display: flex;
    width: 450px;
    gap: 12px;
    padding: 16px;
    border: 1px solid #FEC84B;
    color: #DC6803;
    font-size: 14px;
    box-sizing: border-box;     
}
