.snowflake {
  position: absolute;
  top: -10px;
  user-select: none;
  pointer-events: none;
  animation: fall linear infinite;
  z-index: 4;
}

@keyframes fall {
  0% {
    transform: translate(-12px, -10px);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(12px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translate(-12px, 100vh);
  }
}
