.google-sign-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    color: var(--main-text-color);
    box-shadow: 0px 1px 2px 0px #1018280D;
    cursor: pointer;
    font-size: 13px;
    background-color: #fff;
  }
  
  .google-icon {
    margin-right: 8px;
  }
  