.organisation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    padding-bottom: 15px;
}

.nameHeading {
    margin: 0;
}

.organisationName {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 13px;
}

.team {
    display: flex;
    justify-content: space-between;
}

.tabs {
    border: 1px solid rgba(234, 236, 240, 1) !important;
}

h6 {
    font-size: 13px;
    font-weight: 600;
}

.MuiTabPanel-root {
    padding: 0
}

.boldTab {
    font-weight: bold;
}

.normalTab {
    font-weight: normal;
}

.tabIndicator {
    background-color: rgba(244, 245, 247, 1);
    padding-top: 0px;
}