@use '../../styles/globals.scss' as *;

  .container{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--second-text-color) ;
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: 0px 1px 2px 0px #1018280D;

    h2{
      @include text-style(header-text, semibold);
    }
  
    h3{
      @include text-style(regular);
    }
  }

  .buttons{
    display: flex;
    flex-direction: row;
  }

  .changelog,
  .dismiss{
    border-radius: 8px;
    border: 1px solid var(--second-text-color) ;
    padding: 8px 14px;
    box-shadow: 0px 1px 2px 0px #1018280D;
  }

  .changelog{
    background-color: var(--main-purple);
    color: white;
  }

  .dismiss{
    background-color: white;
    margin-right: 10px;
  }

  .emailInput{
    width: 320px;
    margin-right: 10px;
    border: 1px solid var(--light-gray);
  }

