.label {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0;
}

.label-orange {
  background-color: #fff3e0;
  color: #ef6c00;
  border: 1px solid #ef6c00;
}

.label-gray {
  background-color: var(--light-gray);
  color: var(--main-text-color);
  border: 1px solid var(--light-border-color);
}

.label-purple {
  background-color: var(--light-purple);
  color: var(--main-purple);
  border: 1px solid #ce93d8;
}

.label-green {
  background-color: #e8f5e9;
  color: var(--checkIcon-green);
  border: 1px solid #a5d6a7;
}

.label-seen,
.label-waiting,
.label-new {
  border: 1px solid var(--light-border-color);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
}

.label-seen .dot {
  background-color: var(--main-text-color);
}

.label-waiting .dot {
  background-color: var(--border-error-solid);
}

.label-new .dot {
  background-color: #ff9800;
}
