@import url('variables.css');

  .container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;

    h3{
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      color: var(--main-text-color);
      margin: 10px 0px;
    }
  
    h4{
      font-weight: 450;
      font-size: 14px;
      margin: 0;
      color: var(--second-text-color)
    }
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .check-circle-icon {
    font-size: 40px !important;
    color: var(--main-purple);
}

.on-progress {
    font-size: 40px !important;
    color: var(--main-purple);
    border: 2px solid rgba(var(--main-purple), 0.5);
}

.future-step {
    font-size: 40px !important;
    color: var(--light-gray);
}

.line {
    position: absolute;
    top: 50%;
    left: calc(50% + 17px); /* Adjust this value to adjust the position of the line */
    height: 2px;
    background-color: var(--light-gray);
    width: calc(calc(100vw - 105px) / 3);
    transform: translateY(-50%);
}

.icon-container {
    position: relative;
}