@import "../../styles/variables.css";

.bannerStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.heading{
    color: var(--main-text-color);
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
}

.list{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.listText{
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    list-style-type: none;
}

.bannerContents{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.button{
    margin-top: 10px;
}
