.toolbar-container {
  display: flex;
  gap: 1px;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toolbar-container button {
  color:  var(--second-text-color);
}

.toolbar-container button[disabled] {
  color: var(--light-border-color);
}

.toolbar-container .MuiButtonBase-root {
  min-width: 0!important;
}
