.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar-container button {
  color:  var(--second-text-color);
}

.toolbar-container button[disabled] {
  color: var(--light-border-color);
}
