#toolbar {
  display: flex;
  justify-content: space-between;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-stroke {
  stroke: var(--second-text-color) !important;
}

.ql-active .ql-stroke {
  stroke: var(--main-purple) !important;
}

button:hover .ql-stroke {
  stroke: var(--main-purple) !important;
}

.ql-snow .ql-picker {
  color: var(--second-text-color) !important;
}

.ql-snow.ql-toolbar .ql-picker-label:hover {
  color: var(--main-purple) !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active {
  color: var(--main-purple) !important;
}

.ql-toolbar .ql-picker-item:hover {
  color: var(--main-purple) !important;
}
