
.left-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 1rem;
    box-shadow: 0px 4px 6px rgba(81, 81, 81, 0.1); 
    border-right: 1px solid #EBEBEB;
    min-width: max-content;
  }
  .left-menu .MuiSvgIcon-root{
    color:#667085;
  }
  .title .MuiTypography-root{
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    color: #98A2B3;
    margin-left: 8px;
    margin-top: 8px;
  }
  
  .left-menu .MuiListItemIcon-root {
    min-width: 2rem; 
  }
  
  
  .search-item {
    padding-top: 4px; 
    padding-bottom: 4px; 
  }
  
  .left-menu .MuiListItemText-root {
    margin: 0; 
  }

  .menu-item .MuiTypography-root{
    width: 100%; 
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #344054;
    display: inline;
    justify-content: center;
    padding-right: 1.5rem;
  }

  .left-menu .MuiListItemButton-root{
    border-radius: 6px;
  }

  .bottom-menu{
    margin-bottom: 20px;
  }