.left-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 1rem;
  box-shadow: 0px 4px 6px rgba(81, 81, 81, 0.1);
  border-right: 1px solid #EBEBEB;
  min-width: max-content;
}

.left-menu .MuiSvgIcon-root {
  color: var(--second-text-color);
}

.title .MuiTypography-root {
  font-size: var(--font-informative);
  font-weight: 400;
  line-height: 38px;
  color: #98A2B3;
  margin-left: 8px;
  margin-top: 8px;
}

.left-menu .MuiListItemIcon-root {
  min-width: 2rem;
}

.left-menu .MuiListItemText-root {
  margin: 0;
}

.menu-item .MuiTypography-root {
  width: 100%;
  font-size: var(--font-regular);
  font-weight: 400;
  line-height: 24px;
  color: var(--main-text-color);
  display: inline;
  justify-content: center;
  padding-right: 1.5rem;
}

.left-menu .MuiListItemButton-root {
  border-radius: 6px;
}

@media screen and (max-height: 680px) {
  .left-menu {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .title .MuiTypography-root {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .menu-item .MuiTypography-root {
    padding-right: 1rem;
  }

  .left-menu .MuiListItemButton-root {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .left-menu .MuiSvgIcon-root {
    font-size: 1.4rem;  
  }

}

@media screen and (max-height: 615px) {
  .menu-item .MuiTypography-root {
    font-size: 12px;
    line-height: 20px;
  }

  .title .MuiTypography-root {
    font-size: 10px;
    line-height: 32px;
  }

  .left-menu .MuiListItemButton-root {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  
  .left-menu .MuiSvgIcon-root {
    font-size: 1.4rem;  
  }
}

@media screen and (max-width: 1024px) {
  .left-menu {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }

  .menu-item .MuiTypography-root {
    padding-right: 0.5rem;
  }
}
