.dropdownMenu {
  position: absolute;
  min-width: fit-content;
  z-index: 1;
}

.dropdownMenu-up {
  bottom: 3rem;
}

.dropdownMenu-down {
  top: 3rem;
}

.dropdownMenu-left {
  right: 3rem;
  bottom: 0;
}

.dropdownMenu-right {
  left: 3rem;
  bottom: 0;
}

.dropdownItem {
  padding: 4px 12px !important;
}

.dropdownList {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
