.dropdownMenu {
  position: absolute;
  min-width: fit-content;
  z-index: 1;
}


.dropdownMenu-up{
  bottom: 3rem; 
}

.dropdownMenu-down{
  top: 3rem; 
}

.dropdownMenu-left{
  right: 3rem; 
  bottom: 0;
}

.dropdownMenu-right{
  left: 3rem; 
  bottom: 0;
}

.dropdownMenu .MuiListItem-root {
  cursor: pointer;
}

.dropdownMenu .MuiListItem-root:hover {
  background-color: #F9FAFB;
}

.dropdownItem .MuiTypography-root {
  width: 100%; 
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-text-color);
  display: inline;
  justify-content: center;
}

.dropdownItem {
  padding: 4px 12px !important; 
}

.dropdownList {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.dropdownMenu .MuiSvgIcon-root {
  color: var(--second-text-color);
}

.dropdownMenu .MuiListItemIcon-root {
  min-width: 2rem; 
}
