.hint-appearance-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  color: var(--main-text-color);
}

.hint-state-name {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: var(--font-regular);
}

.hint-appearance-color {
  display: flex;
  align-items: center;
  width: 241px;
  > div {
    width: 100%;
  }
}
