.skeletonContainer {
  position: relative;
  width: 256;
  height: 152;
  background-color: white;
  border-radius: 7.8px;
  border: 1.23px solid var(--grey-border);
  padding: 1.3rem 1rem;
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 8px;
  width: auto;
  margin-bottom: 24px;
}

.bannerSkeletonContainer {
  @extend .skeletonContainer;
  padding-top: 40px;
}
