.editor-container {
  border: 1px solid var(--light-border-color);
  color: var(--main-text-color);
  font-size: 13px;
  border-radius: 8px;
  padding-top: 1rem;
  margin-top: 1rem;
  height: 200px;
}

.ProseMirror {
    height: 160px;
    padding: 0 25px;
    overflow-y: auto;
}

.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror:focus {
  border: none;
  outline: none;
}

.editor-label {
  color: var(--second-text-color);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 0;
}