.editor-container {
  border: 1px solid var(--light-border-color);
  color: var(--main-text-color);
  font-size: var(--font-regular);
  border-radius: 8px;
  padding-top: 0.5rem;
  margin-top: 1rem;
  width: 400px;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

.ProseMirror {
    height: 7.5rem;
    padding: 0 14px;
    overflow-y: auto;
}

.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror:focus {
  border: none;
  outline: none;
}

.editor-label {
  color: var(--second-text-color);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 0;
}