/* tableStyles.css */

/* Style for the container holding the entire table */
.tableContainer {
    margin-top: 20px;
    width: 980px;
    height: 998px;
}

/* Style for the table header */
.tableHeader {
    background-color: #f0f0f0;
}

/* Style for the "Our Company" heading */
.companyHeading {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    display:inline;
    justify-content: space-between;
    align-items: center;
}

/* Style for the circle around total entries */
.totalEntriesCircle {
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Brand-utility-brand-200, #E9D7FE);
    background: var(--Component-colors-Utility-Brand-utility-brand-50, #F9F5FF);
    background-color: #F9F5FF;
    color: #6941C6;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 10px;
}

/* Style for the search box */
.searchBox {
    margin-top: 10px;
    display:inline;
    float:right;
}

/* Style for the pagination component */
.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px) var(--spacing-xl, 16px) var(--spacing-3xl, 24px);
    gap: var(--spacing-lg, 12px);
    align-self: stretch;
    border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
}

/* Style for the pagination numbers */
.paginationNumbers {
    margin: 0 10px;
}

.paginationNumbers button{
    background-color: transparent;
    border:none;
}

/* Style for the Previous and Next page buttons */
.paginationButtons {
    display: flex;
    align-items: center;
}

.paginationButtons .MuiButtonBase-root {
    margin: 0 5px;
}


.direct_buttons{
    display: flex;
    padding: 7px var(--spacing-lg, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    border-radius: var(--radius-xs, 4px);
    border: 1px solid var(--Component-colors-Components-Buttons-Secondary-button-secondary-border, #D0D5DD);
    background: var(--Component-colors-Components-Buttons-Secondary-button-secondary-bg, #FFF);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

/* Change background color of main header row */
.tableContainer .tableHeadRow {
    background-color: #F9FAFB;
  }
.popoverContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  