*{
    font-size: 13px;
}
.form{
    padding-bottom: 20px;
}
.current-password-element{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.form-elements{
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}
.label{
    font-weight: 600;
}
.support-text{
    margin: 0;
    font-weight: 400;
    color: #667085;
    padding-right: 25px;
}
.input{
    width: 452px;
    height: 34px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    gap: 8px;
}
.update{
    color: #1976d2;
    border: none;
    background: none;
    cursor: pointer;
}
.alert{
    display: flex;
    justify-content: flex-end;
}
.alert-message{
    display: flex;
    justify-content: flex-end;
    width: 452px;
    gap: 12px;
    padding: 16px;
    border: 1px solid #FEC84B;
    color: #DC6803;
}
.save-button{
    display: flex;
    align-items: flex-end;
}
.save{
    width: 160px;
    height: 34px;
    color: white;
    background-color: #4C7DE7;
    padding: 10px 16px;
    border: 1px solid #175CD3;
    border-radius: 4px;
    cursor: pointer;
}