.product-page-container {
  padding: 2% 3%;
  width: 100%;
}

.product-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.product-page {
  display: flex;
  align-items: flex-start;
}

.content-area {
  flex: 3;
  margin-right: 2rem;
}

.tour-info-container {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--grey-border);
}

.tour-info-container h4 {
  margin-top: 0;
  color: var(--main-purple);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.tour-info-container p {
  margin-bottom: 0;
  color: #6b7280;
  font-size: var(--font-regular);
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
