.editor-tabs {
  border: 1px solid var(--light-border-color);
  border-radius: 5px;
  width: fit-content;
}

.tab[aria-selected="true"] {
  background-color: var(--main-purple);
  color: white !important;
}

.tab {
  text-transform: none !important;
}
