.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border: 16px solid transparent;
  box-sizing: border-box;
  margin-top: 78px;
  font-weight: 400;
  font-size: 40px;
}