.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 758px;
  height: 78px;
  padding: 10px;
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.list-item:hover,
.list-item:focus {
  border: 1px solid var(--main-purple);
}

.list-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.list-item-header {
  display: flex;
  align-items: center;
}

.list-item-icon-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.list-item-icon {
  width: 12px;
  height: 12px;
  color: #7F56D9;
}

.list-item-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.list-item-info h4 {
  margin: 0;
  font-size: 16px;
  color: #344054;
}

.list-item-info p {
  margin: 2px 0 0 33px;
  font-size: 14px;
  color: #667085;
}

.item-id {
  margin: 2px 0 0 0;
  font-size: 12px;
  color: #667085;
}

.list-item-actions {
  display: flex;
  align-items: center;
}

.list-item-actions .MuiIconButton-root {
  color: #344054;
}
