.fade-in {
    animation: fadeIn 0.4s;
    width: 100%;
    height: 100%;
    display: flex;
  }


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .placeholder-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
