.avatar-container {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 10px;
  border: 0.5px solid #000000;
  object-fit: cover;
  }
  
  .avatar-small {
    width: 24px;
    height: 24px;
  }
  
  .avatar-medium {
    width: 40px;
    height: 40px;
    }
  
  
    .avatar-large {
      width: 48px;
      height: 48px;
  }
