.form {
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}

.formElements {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.photoElements {
    display: flex;
    margin-top: 30px;
}

.photoAlign{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.photoOptions {
    display: flex;
    gap: 5px;
    align-items: center;
}

.saveButton{
    text-align: right;
}

.labelElements {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    flex-grow: 1;
    margin: 0;
}

.supportText {
    margin: 0;
    color: var(--second-text-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 6px;
}

.update,
.delete{
    border: none;
    background: none;
    cursor: pointer;
}
.update {
    color: var(--main-purple);

}

.delete {
    color: var(--second-text-color);
}