.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    width: 241px;
    height: 34px;
    font-size: 13px !important;
    border-radius: 8px !important;
}
.menuItem{
    font-size: 13px !important;
}
.MuiMenuItem-root.Mui-selected {
    background-color: #F9FAFB !important;
}

