@use '../../../../styles/globals.scss' as *;

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    h2{
        @include text-style(regular);
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .color{
        display: flex;
        align-items: center;
        width: 241px;
        > div {
            width: 100%;
        }
    }

}