.preview-container {
  border: 1px solid var(--light-border-color);
  margin-top: 1rem;
  overflow: auto;
}

.preview-content{
  padding: 12px 15px;
  color: var(--second-text-color);
  font-size: 13px;
}

.preview-content p {
  margin: 0.5rem 0;
}

.preview-container h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.preview-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}

.header {
  font-size: 20px;
  font-weight: bold;
  background-color: var(--header-background);
  border-bottom: 1px solid var(--light-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
