*{
    font-size: 13px;
}
.form{
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}
.first-name-element{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.form-elements{
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}
.photo-elements{
    display: flex;
    gap: 12px;
    margin: 30px 0px;
}
.photo-options{
    display: flex;
    gap: 20px;
}
.label-elements{
    display: flex;
    flex-direction: column;
}
.label{
    font-weight: 600;
}
.support-text{
    margin: 0;
    font-weight: 400;
    color: #667085;
    padding-right: 25px;
}
.input{
    width: 378px;
    height: 34px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
}
.update{
    color: #1976d2;
    border: none;
    background: none;
    cursor: pointer;
}
.button-options{
    display: flex;
    gap: 16px;
}
.save-button{
    display: flex;
    justify-content: flex-end;
}
.save{
    width: 160px;
    height: 34px;
    color: white;
    background-color: #4C7DE7;
    padding: 10px 16px;
    border: 1px solid #175CD3;
    border-radius: 4px;
    cursor: pointer;
}
.delete-heading{
    margin-top: 10px;
    margin-bottom: 0px;
}
.delete{
    width: 160px;
    height: 34px;
    color: white;
    background-color: #DB504A;
    border: 1px solid #DB504A;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}