.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 758px;
    height: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #FAFAFA;
    cursor: pointer;
  }
  
  .list-item:hover,
  .list-item:focus {
    border: 1px solid #7F56D9;
  }
  
  .list-item-info {
    display: flex;
    flex-direction: column;
  }
  
  .list-item-header {
    display: flex;
    align-items: center;
  }
  
  .list-item-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .list-item-info h4 {
    margin: 0;
    color: #344054;
  }
  
  .list-item-info p {
    margin: 0;
    color: #667085;
  }
  
  .item-id {
    color: #667085;
  }
  
  .list-item-actions {
    display: flex;
    align-items: center;
  }
  
  .list-item-actions .MuiIconButton-root {
    color: #344054;
  }
  