body {
    background: ;
    padding: ;
    font-size: ;
    font-family: ;  
}

.input {
    font-size: ;
    width: ;
    padding: ;
    border: ;
}

.error-message {
    color: ;
    font-size: ;
}

.hint {
    color: ;
    font-size: ;
}
