.body {
  &__title {
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    color: #344054;
  }

  &__links {
    width: 45%;
    margin-right: 2rem;
    max-width: 312px;

    &--new {
      margin-left: 1rem;

      font-family: Inter;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.43;
    }
  }
}

